<div class="main-container d-flex">
<div class="menu-container d-flex">
  <ul>
  <li routerLinkActive="active" class="d-flex align-items-center"> <a routerLink="/definition" class="nav-link d-flex align-items-center" ><span class="number d-flex align-items-center justify-content-center"> 1 </span>  Description </a> </li>
  <li routerLinkActive="active" *ngFor="let tab of tabList; let i = index" class="d-flex align-items-center"> <a [routerLink]="[tab.link]" class="nav-link d-flex align-items-center" [ngClass]="{'disabled': menuDisabled}" ><span class="number d-flex align-items-center justify-content-center">{{ i + 1 }} </span>  {{tab.name}} </a> </li>
  </ul>
</div>
<div class="tab-container d-flex flex-column">
  <router-outlet></router-outlet>
</div>

</div>